$background-colour: #f8f4e3;
$secondary-background-colour: #d4cdc3;
$navbar-background: #d4cdc3;
$card-background: #998870;
$border-colour: #efe5bd;

$primary-font-colour: #505a68;
$secondary-font-colour: #6c7289;
