@use "../partials/palette";
@use "../partials/layout";
@use "../partials/typography";
@use "../partials/mediaQueries";

@include mediaQueries.phone {
    .card {
        @include layout.flexmixin(column, center, center);
        @include layout.card-border(3px, palette.$border-colour);
        border-radius: 20px;
        margin: 40px auto;
        width: 65%;
        background-color: palette.$secondary-background-colour;
        padding: 40px;

        &__heading {
            @include typography.small-headings(40px);
            margin-bottom: 5px;

            &--sub-heading {
                @include typography.small-headings(25px);
                margin-bottom: 5px;
            }
        }

        &__item {
            width: 60%;
            margin: 10px auto;
            text-align: center;

            &-heading {
                @include typography.blurb-text(17.5px);
                text-decoration: underline palette.$secondary-font-colour;
                margin-bottom: 5px;
            }

            &-text {
                @include typography.small-blurb-text(15px);
            }

            &-link {
                @include typography.small-blurb-text(15px);
                text-decoration: underline;
            }

            &-link:active,
            &-link:visited {
                @include typography.small-blurb-text(15px);
                text-decoration: underline;
            }
        }
    }
}
