@use "../partials/palette";
@use "../partials/layout";
@use "../partials/typography";
@use "../partials/mediaQueries";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: palette.$background-colour;
}

@include mediaQueries.desktop {
    .main-card-container {
        @include layout.flexmixin(row, center, space-around);
        @include layout.card-border(3px, palette.$border-colour);
        border-radius: 15px;
        background-color: palette.$secondary-background-colour;
        width: 70%;
        margin: 10% auto;
        padding: 70px 0;
    }

    .main-card {
        @include layout.flexmixin(row, center, space-around);
        width: 100%;
        margin: auto;
        vertical-align: middle;

        &__text {
            width: 66.666%;
            text-align: center;
            @include layout.flexmixin(column, center, space-evenly);

            &-heading {
                @include typography.big-headings(60px);
            }

            &-sub-heading {
                @include typography.small-headings(40px);
            }
        }

        &__img-container {
            width: 33.333%;
            align-items: center;
            padding: 0;
            margin: 2.5%;
        }

        &__img {
            width: 75%;
            height: auto;
            margin: auto;
            border-radius: 15px;
        }
    }
}

@include mediaQueries.laptop {
    .main-card-container {
        @include layout.flexmixin(row, center, space-around);
        @include layout.card-border(3px, palette.$border-colour);
        border-radius: 15px;
        background-color: palette.$secondary-background-colour;
        width: 70%;
        margin: 10% auto;
        padding: 70px 0;
    }

    .main-card {
        @include layout.flexmixin(row, center, space-around);
        width: 100%;
        margin: auto;
        vertical-align: middle;

        &__text {
            width: 66.666%;
            text-align: center;
            @include layout.flexmixin(column, center, space-evenly);

            &-heading {
                @include typography.big-headings(60px);
            }

            &-sub-heading {
                @include typography.small-headings(40px);
            }
        }

        &__img-container {
            width: 33.333%;
            align-items: center;
            padding: 0;
            margin: 2.5%;
        }

        &__img {
            width: 75%;
            height: auto;
            margin: auto;
            border-radius: 15px;
        }
    }
}

@include mediaQueries.tablet-landscape {
    .main-card-container {
        @include layout.flexmixin(row, center, space-around);
        @include layout.card-border(3px, palette.$border-colour);
        border-radius: 15px;
        background-color: palette.$secondary-background-colour;
        width: 70%;
        margin: 10% auto;
        padding: 70px 0;
    }

    .main-card {
        @include layout.flexmixin(row, center, space-around);
        width: 100%;
        margin: auto;
        vertical-align: middle;

        &__text {
            width: 66.666%;
            text-align: center;
            @include layout.flexmixin(column, center, space-evenly);

            &-heading {
                @include typography.big-headings(50px);
            }

            &-sub-heading {
                @include typography.small-headings(30px);
            }
        }

        &__img-container {
            width: 33.333%;
            align-items: center;
            padding: 0;
            margin: 2.5%;
        }

        &__img {
            width: 75%;
            height: auto;
            margin: auto;
            border-radius: 15px;
        }
    }
}

@include mediaQueries.tablet-portrait {
    .main-card-container {
        @include layout.flexmixin(column-reverse, center, space-around);
        @include layout.card-border(3px, palette.$border-colour);
        border-radius: 15px;
        background-color: palette.$secondary-background-colour;
        width: 80%;
        margin: 10% auto;
        padding: 70px 0;
    }

    .main-card {
        @include layout.flexmixin(column-reverse, center, space-around);
        width: 100%;
        margin: auto;
        vertical-align: middle;

        &__text {
            width: 66.666%;
            text-align: center;
            @include layout.flexmixin(column, center, space-evenly);

            &-heading {
                @include typography.big-headings(50px);
            }

            &-sub-heading {
                @include typography.small-headings(30px);
            }
        }

        &__img-container {
            width: 33.333%;
            align-items: center;
            padding: 0;
            margin: 2.5%;
        }

        &__img {
            width: 100%;
            height: auto;
            margin: auto;
            border-radius: 15px;
        }
    }
}

@include mediaQueries.phone {
    .main-card-container {
        @include layout.flexmixin(column-reverse, center, space-around);
        @include layout.card-border(3px, palette.$border-colour);
        border-radius: 15px;
        background-color: palette.$secondary-background-colour;
        width: 80%;
        margin: 10% auto;
        padding: 70px 0;
    }

    .main-card {
        @include layout.flexmixin(column-reverse, center, space-around);
        width: 100%;
        margin: auto;
        vertical-align: middle;

        &__text {
            width: 66.666%;
            text-align: center;
            @include layout.flexmixin(column, center, space-evenly);

            &-heading {
                @include typography.big-headings(40px);
            }

            &-sub-heading {
                @include typography.small-headings(20px);
            }
        }

        &__img-container {
            width: 33.333%;
            align-items: center;
            padding: 0;
            margin: 2.5%;
        }

        &__img {
            width: 100%;
            height: auto;
            margin: auto;
            border-radius: 15px;
        }
    }
}
