@use "../partials/palette";
@use "../partials/layout";
@use "../partials/typography";
@use "../partials/mediaQueries";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: palette.$background-colour;
}

@include mediaQueries.phone {
    .tech-stack-gallery {
        @include layout.flexmixin(row, center, space-evenly);
        @include layout.card-border(3px, palette.$border-colour);
        border-radius: 25px;
        background-color: palette.$secondary-background-colour;
        flex-wrap: wrap;
        width: 90%;
        height: 100%;
        margin: 50px auto auto auto;

        &__item {
            width: 33.333%;
            height: auto;
            margin: 15px auto;
            text-align: center;

            &--img {
                width: 50px;
                height: 50px;
                margin: auto;
            }

            &--title {
                margin-bottom: 7.5px;
                @include typography.small-headings(15px);
            }
        }
    }
}

@include mediaQueries.tablet-portrait {
    .tech-stack-gallery {
        @include layout.flexmixin(row, center, space-evenly);
        @include layout.card-border(3px, palette.$border-colour);
        border-radius: 25px;
        background-color: palette.$secondary-background-colour;
        flex-wrap: wrap;
        width: 90%;
        height: 100%;
        margin: 50px auto auto auto;

        &__item {
            width: 33.333%;
            height: auto;
            margin: 15px auto;
            text-align: center;

            &--img {
                width: 60px;
                height: 60px;
                margin: auto;
            }

            &--title {
                margin-bottom: 7.5px;
                @include typography.small-headings(17.5px);
            }
        }
    }
}

@include mediaQueries.tablet-landscape {
    .tech-stack-gallery {
        @include layout.flexmixin(row, center, space-evenly);
        @include layout.card-border(3px, palette.$border-colour);
        border-radius: 25px;
        background-color: palette.$secondary-background-colour;
        flex-wrap: wrap;
        width: 90%;
        height: 100%;
        margin: 50px auto auto auto;

        &__item {
            width: 33.333%;
            height: auto;
            margin: 15px auto;
            text-align: center;

            &--img {
                width: 67.5px;
                height: 67.5px;
                margin: auto;
            }

            &--title {
                margin-bottom: 7.5px;
                @include typography.small-headings(20px);
            }
        }
    }
}

@include mediaQueries.laptop {
    .tech-stack-gallery {
        @include layout.flexmixin(row, center, space-evenly);
        @include layout.card-border(3px, palette.$border-colour);
        border-radius: 25px;
        background-color: palette.$secondary-background-colour;
        flex-wrap: wrap;
        width: 90%;
        height: 100%;
        margin: 50px auto auto auto;

        &__item {
            width: 25%;
            height: auto;
            margin: 15px auto;
            text-align: center;

            &--img {
                width: 75px;
                height: 75px;
                margin: auto;
            }

            &--title {
                margin-bottom: 7.5px;
                @include typography.small-headings(20px);
            }
        }
    }
}
